[2018-12-14 18:12] chris-rudmin commented on #169
Are your changes complete?  I will test them out in their entirety and do a release if it looks good. :+1:

[2018-12-14 19:34] tomwidmer commented on #169
Yes, all complete (just the 3 features, the flushing pause, encoded sample position and reuse). Thanks for your efforts in reviewing and testing!

[2018-12-15 18:52] chris-rudmin commented on #164
@MedElfadhelELHACHEMI I don't have a quick fix for this unfortunately.  I have some ideas how it could be done, but it will require a significant change in architecture.

[2018-12-17 14:31] chris-rudmin commented on #176
@SanjiviniAhuja  I might be able to provide a reasonable hypothesis if I can know what  Browser, OS, Machine specs, Sample Rate, Recording length and Recording configuration can reliably reproduce the issue.

[2018-12-19 07:00] SanjiviniAhuja commented on #176
I am not able to reproduce the issue every time, so I'm not sure how successful you might be in that attempt but I'm using
Firefox 63.0 Chrome 70.0
Windows 10, 8GB Ram, 2.6GHz
Sample Rate and other Audio related specs are the same as given in the sample.

[2018-12-19 15:47] chris-rudmin commented on #176
My guess would be that your audio dropouts are related to our use of `scriptProcessorNode` which uses the main thread to pass audio buffers to the encoder. If your webpage has some code running in the main thread, it could result in blocking/delaying the event loop for processing the audio buffers which could result in dropped audio.

[2018-12-21 12:34] LavaRiddle commented on #164
@MedElfadhelELHACHEMI Are you using webpack with your React application?

You can use 'CopyWebpackPlugin' to move the file to your projects root directory rather than calling from node_modules.

[code]
Hope that helps?

[2018-12-24 15:08] rotem925 opened #181 "loadWorker takes time to load"
It seems that it takes too much time to load the worker.
I moved from version 5.0 to the latest.
The previous version was loading the worker pretty fast, now it just hangs for a few when loading the worker.

It seems like the "ready" event from the worker takes time to trigger.
On slower devices, this is very noticeable. I tried it on Nexus 5x, Samsung Galaxy Tab 3, and Sony Xperia tablet (all wit

[2018-12-24 17:58] chris-rudmin commented on #181
I believe what is happening is that we changed the behaviour so that the
start callback is only being called one the worker is ready to receive
buffers. Previously we were calling back earlier and buffering the data to
send to the worker. The time to start the worker should be the same, but
with the new logic, it should reduce streaming latency for those who want
low latency streaming.
On Mon, Dec

[2018-12-24 18:07] rotem925 commented on #181
I'm not seeing what you describe..
I'm loosing the buffers at the beginning of the recording. This is how I
noticed the issue. I think you should still hold the buffer as soon as the
recording starts, and send to the worker when it is ready, I'm not seeing
this happening.

The behavior now is that you have to wait about two seconds after pressing
the record button in order to not lose the speech r

[2018-12-27 15:08] chris-rudmin commented on #181
That is correct. We are now discarding buffers until the worker is ready to record to reduce the steaming latency. We could revert to the v5 behaviour for non streaming usage.

[2018-12-27 15:32] rotem925 commented on #181
@chris-rudmin What do you mean non streaming usage? streamPages=false?
Actually I think that should be as v5 behaviour for both stream and non stream.
I think when you start the recording, there shouldn't be a requirement to wait till the worker is ready.
I think you should just keep the buffer aside till the worker is ready.

I use the streamPages=true option. discarding buffer will mean there is

[2019-01-02 02:35] chris-rudmin commented on #181
@rotem925 Good suggestion. I'll put a fix in.

[2019-01-11 10:24] echoTab opened #182 "opus-recorder with ios 12"
I have the waveRecorder example working fine with Chrome, msEdge, and Firefox. However Safari on my iPhone 12.1.2 I get an error "request not allowed" upon recorder.start(). Is this a known issue with IOS 12, or  is there something I need to do to make it work?

[2019-01-11 12:55] chris-rudmin commented on #182
Yes it is a known issue. See the known issues in the readme.

On Fri, Jan 11, 2019 at 5:24 AM echoTab <notifications@github.com> wrote:

[2019-01-13 14:34] chris-rudmin commented on #182
I think support was added in 12.2.0 but I don't recall exactly. I don't
think iOS 11 was working ever with webassembly.

On Fri, 11 Jan 2019 at 09:28, echoTab <notifications@github.com> wrote:

[2019-01-13 15:40] thijstriemstra opened #183 "Include version number"
Would be nice to have a version nr. It helps debugging when users report an issue.

[2019-01-13 15:42] chris-rudmin commented on #183
I agree it would be nice. I generally just test against the latest releases
of browsers. I’m not prepared to regression test older versions for each
change I make.

On Sun, Jan 13, 2019 at 10:40 AM Thijs Triemstra <notifications@github.com>
wrote:

[2019-01-13 15:45] thijstriemstra commented on #183
Cool. I'd like to print it in the console, like the other libraries, e.g. https://collab-project.github.io/videojs-record/examples/audio-only-opus.html

[2019-01-15 17:47] echoTab opened #184 "encoderWorker and Chrome"
I found that if I configure the WAV Recorder to use encoderWorker.min.js in the encoder path it works fine in Firefox but records no audio in Chrome 71. With waveWorker.min.js in the encoder path it works on both Chrome and Firefox. Is there a known problem with Chrome when using encoderWorker?

[2019-02-04 03:46] chris-rudmin commented on #184
@echoTab Could you create an example which repros your issue? I don't quite understand what you are attempting to do.

[2019-02-27 10:33] LavaRiddle commented on #144
@stephnicolas - Based on your based research, how did you fair getting this to work on Cordova? I'm bumping into the same issue.

[2019-03-03 08:45] nasief opened #186 "It is not working on iOS 12.1.2 Chrome"
When trying to check `Recorder.isRecordingSupported` on Chrome on iOS 12.1.2, it returns `false`. Is it not supported? could be something done about it?

[2019-03-03 13:00] chris-rudmin commented on #186
I don’t have time to investigate at the moment. Feel free to make a pull request if you find the issue.

[2019-03-03 13:46] chris-rudmin commented on #186
Unfortunately I don't have 12.1.2 installed anywhere to test.  12.1.4 does not seem to have any issues.

[2019-03-03 14:22] chris-rudmin commented on #50
I will not add libogg to opus-recorder. Please see https://github.com/kbumsik/opus-media-recorder for a native libogg implementation.

[2019-03-03 14:22] #50 closed

[2019-03-03 14:23] chris-rudmin commented on #90
@lepinsk I will likely never add webm container support.  Please see https://github.com/kbumsik/opus-media-recorder for a very nice browser polyfill with webm container support.

[2019-03-03 14:23] #90 closed

[2019-03-03 14:32] chris-rudmin commented on #182
@echoTab I think I misunderstood your error.  I believe you would receive a "Request Not Allowed" error when you try to record audio over http, or if the action was not initiated by the user. Audio recording require pages served over https, and that the start needs to be initiated by a user input. This is documented in the README.

[2019-03-03 14:32] #182 closed

[2019-03-03 14:33] chris-rudmin commented on #184
Closing due to inactivity.

[2019-03-03 14:33] #184 closed

[2019-03-04 01:20] chris-rudmin commented on #165
Closing due to inactivity.

[2019-03-04 01:20] #165 closed

[2019-03-04 08:59] nasief commented on #186
Thanks for looking into this. I might be investigating this sometime later. If things go smooth, I will open a PR for you.

[2019-03-04 08:59] #186 closed

[2019-04-24 10:34] Grewis opened #187 "More a Question than an issue (Example Folder)"
Hi !
Is the example in the example folder works ? I have tried to open them in a browser but with the encoder when I press start it ask permission to use my mic, I say yes but then nothing happend and I can only press the start Button.

[2019-04-24 13:19] chris-rudmin commented on #187
the [encoder.html](https://raw.githack.com/chris-rudmin/opus-recorder/master/example/encoder.html) example is working for me in chrome v73.

[2019-04-24 13:19] #187 closed

[2019-05-03 20:16] genabotpub commented on #7
Hello Chris, I am new to your library so I apologize for the following basic question.

I am using an AnayzierNode to detect silence in the user's speech. Upon the silence detection I want to capture the blob that was recorded since the last silence event only (i.e. not from the beginning of the recording). The blob that I capture should be valid OGG (i.e. header info, etc.) since it is processed

[2019-05-03 23:44] chris-rudmin commented on #7
Should be possible. What part of your implementation are you having difficulties with?

[2019-05-04 10:45] genabotpub commented on #7
Chris, thank you very much for the prompt response. I am not a specialist in audio processing, so I apologize if my comments are very basic.

Encoder Options:
•	encoderApplication: 2048
•	reuseWorker: true

Environment:
•	Win 10
•	Chrome 73
•	Mic

It seems that there is no method similar to MediaRecorder.requestData() to proactively trigger ondataavailable callback with a complete (playable) blob.

[2019-05-04 12:37] chris-rudmin commented on #7
The recorder API doesn’t do what you need. You will need to create your own implementation which calls encoder worker directly with the buffers you want.

[2019-05-05 11:10] genabotpub commented on #7
Thank you.

[2019-05-09 21:08] murrayju opened #189 "Support for multichannel audio?"
I'm looking for a solution to record audio from a 6-channel mic. The documentation clearly states 2 channels max. Is this a browser limitation, a libopus limitation, or something that just needs to be implemented?

[2019-05-09 21:13] chris-rudmin commented on #189
@murrayju There is definitely a limitation of the implementation. libopus supports n channels I believe. I'm not sure if browsers support more than 2 channels.

[2019-05-09 21:19] chris-rudmin commented on #189
@murrayju You might check with https://github.com/kbumsik/opus-media-recorder to see if his polyfill supports more than 2 channel audio. His implementation avoids all the pitfalls of my hand-rolled ogg implementation. If it doesn't already support more than 2 channels, it would likely not be hard to add support.

[2019-05-29 09:09] f5cs commented on #144
hi @chris-rudmin:
  there is a resolved:
  convert encoderWorker.wasm from binary to base64（encoderWorkerBase64.wasm） and Assignment to a variable,
then in encoderWorker.js,use importScripts('encoderWorkerBase64.wasm'）
after,:
var wasmBlod = atob(b64Data);
var reader = new FileReader();
var wasmArrayBuf = reader .readAsArrayBuffer(wasmBlod );

WebAssembly.instantiate(wasmArrayBuf )

[2019-05-29 09:14] f5cs commented on #144
in corodva:
use cordova-plugin-file read wasm,then call the follow function:
	readBinaryFile:function(fileEntry){
		var me = this;
		fileEntry.file(function (file) {
			var reader = new FileReader();
			reader.onloadend = function(evt) {
                               WebAssembly.instantiate(evt.target.result)
			};

			reader.readAsArrayBuffer(file);

		}, me.onErrorReadFile);
	}

[2019-06-03 06:53] binarykitchen opened #190 "Produce PCM buffers only"
Would be good to add a new config which gives me PCM buffers only without WAV generation. This for an app of mine where WAV is rather generated on server side.

So, I'm only after PCM data. Would it be too much to ask for this?

[2019-06-03 12:38] chris-rudmin commented on #190
You don't need a lib to access PCM buffers: https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API. Connect to a stream and access raw buffers directly.

[2019-06-03 12:38] #190 closed

[2019-06-03 21:52] binarykitchen commented on #190
Sure could pipe that although it's not already threaded in workers like in your package.

[2019-07-08 21:24] akalmykov opened #191 "44.1kHz opus encoding instead of 48kHz"
Hi,

First of all, thank you for this recorder.

I have one question. There was an question about WAV encoding that is always 44.1kHz. You have mentioned that "The resampler works quite well if recording to ogg opus".  But I have encountered similar problem with Opus encoder. It seems that despite the default setting of 48kHz sampling rate, as in this example

![image](https://user-images.githubus

[2019-07-08 21:28] chris-rudmin commented on #191
Original sample rate is the sample rate of your original audio. To get
48000 hz sample rate You should change your audio input device sample rate
and restart your browser.

On Mon, Jul 8, 2019 at 5:24 PM akalmykov <notifications@github.com> wrote:

[2019-07-08 22:15] akalmykov commented on #191
So opus-recorder ignores encoderSampleRate parameter, doesn't perform resampling to 48 khZ during encoding and preserves original sample rate?

[2019-07-08 22:36] akalmykov commented on #191
Ok, so Original sample rate has nothing to do with encoderSampleRate parameter.
Do you know how can I check the actual sample rate of the recorded file?
_opusinfo_ does not provide such information and I still suspect that there might be something wrong with the sample rate

[2019-07-08 23:17] chris-rudmin commented on #191
The input sample rate field is defined in the [spec](https://tools.ietf.org/id/draft-ietf-codec-oggopus-02.html). Ogg Opus does not store the encoding sample rate in the meta data (internally everything is processed at 48khz). An encoded Ogg Opus file does not have a sample rate, but instead an encoded but a bit rate.  The algorithm to determine the playback sample rate algorithm is defined in the

[2019-07-10 20:11] akalmykov commented on #191
Thanks! It worked. Just for the reference of those who might read this thread later: the option is **originalSampleRateOverride**

[2019-07-10 20:11] #191 closed

[2019-11-04 13:58] ndkv commented on #129
Hello, is `rec.sourceNode` still the way for accessing the stream? It's not defined a.k.a. I can't find it in the latest version. I only see `rec.initSourceNode`.

[2019-12-12 12:08] femt0 opened #193 "[Question] Which OGG Opus config options for Google Speech API?"
Hi,
First of all, thank you for this amazing library!
I'm using it to stream OGG Opus audio to the Google Speech API but I'm not getting text back.
Here are my options:
[code]
Do you know what could be wrong with these options?
Thanks in advance!

[2019-12-12 13:33] chris-rudmin commented on #193
Those options look alright. I’m not familiar with the google streaming API,
so I’m not sure i can help. Can you point me to some doc of the API you are
using?

On Thu, Dec 12, 2019 at 7:08 AM Eliott BENOIT <notifications@github.com>
wrote:

[2019-12-26 22:55] flieks opened #194 "state stays inactive on start"
Testing in windows 10 opera.
State stays inactive on recorder.start()
I am providing no options to new Recorder()
![image](https://user-images.githubusercontent.com/5032389/71492861-d5e52580-283a-11ea-8695-529e3df4ebfd.png)
ondataavailable is never hit

[2019-12-27 03:54] chris-rudmin commented on #194
I haven't tested opera since they switched to WebKit.  Can you please specify the version you are testing on?

[2019-12-27 23:21] flieks commented on #194
Version is 65.0.3467.78
Isnt opera using chromium ?

[2019-12-27 23:26] chris-rudmin commented on #194
Yea I meant chromium. Last time I tested opera was v44

[2019-12-28 04:54] chris-rudmin commented on #194
@flieks I just did a test on Opera v65 and recorder worked without issues. Can you please post the error message that you encounter?

[2019-12-29 16:16] flieks commented on #194
thanks
i do sth like this (no error but it never goes inside the on

[code]
using react

[2019-12-29 16:48] chris-rudmin commented on #194
Yeah, I don’t think you can do ´require(opus-recorder)´ as it requires a
statically hosted wasm file. Check if you are getting network errors 404
maybe.

On Sun, Dec 29, 2019 at 11:16 AM De Lille Felix <notifications@github.com>
wrote:

[2020-01-03 22:25] flieks commented on #194
i am not getting a 404. Recorder is properly initialized and it can be started but it never goes in onDataAvailable.. Maybe because on chromium, ogg containers arent supported and we have to use webm ?
Problem is i need ogg

[2020-01-06 15:43] radulle opened #195 "[Question] Mission critical audio recording (recording indicator & periodic saving)"
@chris-rudmin I apologize since this is not an issue but I didn't know how best to approach you.

In your opinion what would be the best strategy for making sure recording is being conducted and that it is saved for example every couple of seconds to IndexedDB and filesystem without interrupting UI/UX? I want to be sure that if user for some reason kills the browser or there is a crash that audio

[2020-01-06 16:01] chris-rudmin commented on #195
Safest way would be to stream it to your server as it is being recorded

On Mon, Jan 6, 2020 at 10:43 AM radulle <notifications@github.com> wrote:

[2020-01-07 12:51] radulle commented on #195
Thank you, but due to the nature of the app that won't be possible.
If you have a minute for a few more questions it would be greatly appreciated:
1. Do pause/resume also has to be called from user initiated events in Safari and would it be possible to have ondataavailable event available onpause or is reuseWorker with start/stop only solution.
2. How do you use give an example of streamPages usag

[2020-01-07 17:59] chris-rudmin commented on #195
1. I don't believe those actions need to be user initiated, but you are best to test and see.
2. I don't have an example.  It works the same as without streamPages, but you will get individual ogg pages as they are ready.
3. I've never tried with a CDN. Let me know if you get it working.

[2020-01-09 09:29] chris-rudmin commented on #194
The example encoder works fine in Opera for me. I don't think I can help you debug your application any further unless you can provide me an example which reproduces the issue.

[2020-02-13 22:16] zabaat opened #196 "Paid feature request: add onVolumeChanged hook"
Thanks for this awesome work Chris, would you be open to adding onVolumeChanged hook to your library?
We are using this for a client project and would be happy to compensate you for your work.
Please reply if you are interested. Thanks!

[2020-02-13 22:27] chris-rudmin commented on #196
Thanks. I am not quite sure what feature you are asking for. This is a
library for recording audio, and thus there is no volume to control. Are
you referring to recording gain?

Oggopus playback and playback volume would usually be handled by the
browser.

On Thu, Feb 13, 2020 at 5:16 PM Brett Ansite <notifications@github.com>
wrote:

[2020-02-13 23:09] trevordilley commented on #196
@chris-rudmin Hi, I work with @zabaat . We mean the volume of the voice being recorded. So as you speak into the Mic we'd like to be able to see a volume bar go up and down.

For example Twilio exposes a `volume` event that you can then leverage in React like this:

[code]

Does that make sense?

[2020-02-14 00:12] trevordilley commented on #196
Oh and to be clear, we're asking (and willing to compensate for!) simply adding a callback similar to the conn.volume() in the example above, sort of how you have an onstart(), onpause(), etc. If there were an onvolume() that could be assigned to a function expecting a number value, that would be great. We of course are the ones making the react app with the volume bar visualization!

[2020-02-14 01:24] chris-rudmin commented on #196
@trevordilley If I understand correctly, you want to create a visualization of the microphone SPL.  Something like this? https://webaudiodemos.appspot.com/volume-meter/

[2020-02-17 20:59] #196 closed

[2020-02-18 04:09] #193 closed

[2020-02-18 04:10] #194 closed

[2020-02-18 04:11] #195 closed

[2020-02-27 15:47] lihengx opened #197 "[Question] How to play each frame correctly?"
I want to use opus recorder for a realtime voice chat app.
I set streamPages = true, so dataAvailable callback function always output some frame blob, but these blob seems corrupted because I couldn't play it directly.
Could you please help me?

[2020-02-27 16:12] chris-rudmin commented on #197
@lihengx OGG opus pages are not meant to be played individually, but as part of a stream. You will need to send the pages to your server and then make it available as a stream for playback.

[2020-02-27 16:12] #197 closed

[2020-03-29 08:24] ikqaGarbage opened #199 "FileEncoder example generates invalid ogg file?"
I'm trying to run the FileEncoder example on chrome 82 but I can't seem to get it working. Was the api changed without updating the examples?

it seems like now the worker is returning the encoded data in data.page instead of in the main data object.

[2020-03-29 12:55] chris-rudmin commented on #199
It is quite possible. I haven’t been maintaining this example page. If you
find the problem, send me a pull request.

On Sun, Mar 29, 2020 at 4:24 AM ikqaGarbage <notifications@github.com>
wrote:

[2020-04-28 11:35] stefan-falk opened #200 "ondataavailable only called after stopping the Recorder"
I am tring to integrate the `Recorder` following [this example](https://github.com/chris-rudmin/opus-recorder/blob/master/example/waveRecorder.html).

It seems to work so far except that I do not get data chunks once they're available but only after I `stop()` the recorder.

With the basic `MediaRecorder`  we can e.g. set the milliseconds but how can I do that with the opus `Recorder`?

I tried se

[2020-04-28 20:25] chris-rudmin commented on #200
Wave files are not streamable because the header at the beginning needs to
specify the entire length of the recording.

On Tue, Apr 28, 2020 at 7:35 AM Stefan Falk <notifications@github.com>
wrote:

[2020-04-28 20:30] chris-rudmin commented on #200
Please refer to the readme for supported config options when recording wav.

[2020-04-28 20:30] #200 closed

[2020-04-29 06:17] stefan-falk commented on #200
@chris-rudmin Yes, but I was thinking about doing it like I would do it with the default `MediaRecorder`. With it one just can do this:

[code]

I was hoping something like this would be possible.

[2020-04-29 11:42] chris-rudmin commented on #200
@stefan-falk I see. This is currently not possible with this library.

[2020-05-11 16:07] chapayGhub opened #204 "Is it possible to turn on/off DTX mode?"
Hey

In c/c++ i can turn on DTX by code below
[code]

and can skip data without voice

[code]

Can I do the same with JS? and how ;) ?
Sorry I`m newbie in JS

Thank you!

[2020-05-11 22:24] chris-rudmin commented on #204
Should totally be possible. We would need to create a patch to expose that
option.

On Mon, May 11, 2020 at 12:08 PM Chapay <notifications@github.com> wrote:

[2020-05-12 06:51] chapayGhub commented on #204
Great news! )))
Maybe you now when you can release new version with this option?

Thank you!

[2020-05-12 20:09] chris-rudmin commented on #204
@chapayGhub Feel free to make a pull request to add this feature. If you need some pointers I will try to make some time to help you out.

[2020-05-14 17:21] trevordilley opened #205 "Update from deprecated API: AudioContext.createScriptProcessor()"
Hi Chris, we have a client who would like switch over to your recorder as their main recording tool. The one snag is they're uncomfortable that the recorder uses this:
https://developer.mozilla.org/en-US/docs/Web/API/BaseAudioContext/createScriptProcessor

Which appears to be deprecated? Currently they're using the Twilio but would like to use something simpler (they just need to record a single v

[2020-05-14 17:24] trevordilley commented on #205
Specifically here:
https://github.com/chris-rudmin/opus-recorder/blob/f3fe542f21856c05a739a1bd41b4303f0d0b373b/src/recorder.js#L101

[2020-05-15 01:55] chris-rudmin commented on #205
@trevordilley deprecating createScriptProcessor() sound reasonable. Just FYI for your client, that making this change will require dropping support for iOS and Safari on mac.

[2020-05-26 15:58] adambailey- opened #206 "High CPU usage when encoding"
I've yet to track down the root cause in code, but perhaps you'll have better luck than me!

The high CPU usage can be seen by running the [encoder.html example](https://github.com/chris-rudmin/opus-recorder/blob/master/example/encoder.html).

Here is the activity monitor at idle:
![Idle](https://user-images.githubusercontent.com/10304518/82922550-5bcae100-9f3f-11ea-8a56-e64a0e49c109.png)

Recordi

[2020-05-26 16:07] chris-rudmin commented on #206
What kind of CPU are you running on? On my machine, CPU usage does not
exceed 8%. In chrome debugger tools, can you record a performance profile
and post the results here?

On Tue, 26 May 2020 at 11:58, Adam Bailey <notifications@github.com> wrote:

[2020-05-26 16:09] chris-rudmin commented on #206
Can you specify the version of chrome as well? Thanks

[2020-05-26 16:14] adambailey- commented on #206
My apologies, I thought I was running the example on this repository, but in fact I was running it on my own fork, which has some additions to the code to stream opus packets without ogg. The high CPU usage occurs on my fork, and not this repository, so I'll go ahead and close this issue.

[2020-05-26 16:14] #206 closed

[2020-06-05 15:45] weepy opened #207 "decoder example not working"
Hiya - I was trying to get the decoder example working, but when I click "XHRRequest" button I can see it downloads mono.opus, but gives 3 empty wav files.
Am I doing something wrong ?

[2020-06-05 15:47] weepy commented on #205
"dropping support for iOS and Safari " seems a shame since they are the main reasons this exists!

[2020-06-05 15:54] chris-rudmin commented on #207
Can you share the file with me?

[2020-06-05 16:13] weepy commented on #207
It's just ```mono.opus``` in the example directory. I ran decoder.html and clicked ```Load using XMLHttpRequest```

[2020-06-05 16:36] chris-rudmin commented on #207
I see what you mean. I'll have to investigate some more.

On Fri, 5 Jun 2020 at 12:13, weepy <notifications@github.com> wrote:

[2020-06-06 02:38] #207 closed

[2020-06-06 08:12] weepy opened #209 "fileEncoder in stereo"
Hiya,

I was trying to get the fileEncoder.html working with a stereo file. I tried putting numberOfChannels: 2 , but it doesn't like that.  How should I accomplish this ?

Another note - should filename and mime be set to opus rather than ogg which is in the file?

J

[2020-06-06 08:21] weepy commented on #209
actually i figured out ...

[2020-06-06 08:21] #209 closed

[2020-06-06 08:33] weepy commented on #207
Great that works now for the mono.opus
However it doesn't work for this opus that was recorded using the MediaRecorder in Chrome.

https://drive.google.com/file/d/1mx0jq-7-D4j2jMORsPjmkQEHEufp_dvz/view?usp=sharing

It's possible that it doesn't work because it doesn't have a length ?

[2020-06-06 13:55] chris-rudmin commented on #207
It's not using a valid ogg container. You can verify using opus-tools.

[2020-06-06 13:56] chris-rudmin commented on #207
I think chrome uses a WebM container by default.

[2020-06-08 21:28] Ajaxy opened #210 "iOS: Waveform analyzer is broken during recording"
Hey, thanks for the great module.

I have a problem with iOS 13. I'm using this code which prints out an updating waveform data when the mic is captured:

[code]

But once I add this:

[code]

The console starts producing almost constant values: (127, 128, 129) which are not related to the mic input.

I tried using `stream.clone()` but that did not help. Any suggestions?

It works fine on all othe

[2020-06-08 23:38] chris-rudmin commented on #210
start() is expecting an instance of `MediaStreamAudioSourceNode`. You seem to be passing it an instance of `MediaStream`.

[2020-06-09 00:26] Ajaxy commented on #210
Thank you, using the same `AudioContext` and `MediaStreamAudioSourceNode` helped!

[2020-06-09 00:26] #210 closed

[2020-06-09 00:28] Ajaxy commented on #169
What about the same technique for decoder/wav workers? It seems that now they are re-created every time.

[2020-06-11 03:19] ginhinio opened #211 "Can't play file procedurally saved recording"
I've been looking at the examples for a few hours now without any luck finding out what I am doing wrong. I am currently recording with StreamPages set to true and sending immediately to the server to be appended to a Writestream. when I press play I get an error telling me it's a corrupted file. Am I doing something wrong?

[2020-06-11 03:49] chris-rudmin commented on #211
When you play your writeStream, are you sure you are getting the header packets? If when you press play, you start in a middle of a stream, you will need to make sure to send the header packets first.

[2020-06-11 04:35] ginhinio commented on #211
I was just reading about the opus header and checked the file in textformat. it seems like I am not getting the first header only the second one?
[code]

[2020-06-11 14:55] chris-rudmin commented on #211
@ginhinio Unless you can provide me a sample which reproduces a bug, I'm not sure I can help you. I'm definitely not equipped to help you debug your server side code.

[2020-06-11 15:04] ginhinio commented on #211
It's okay. I don't think it's something wrong with my backend code as it's tested with an mp3 encoder. I think it's on the client side maybe there some timing issues at the beginning of the ondataavailable function. I'll figure it out and update this thread. Thanks for this project mate! :D

[2020-06-11 15:04] #211 closed

[2020-06-21 17:31] PhieF commented on #209
Hey :)
how did you do that ?

I'm trying to modify the provided example with that

[code]

it doesn't work at all

thank you !

[2020-07-15 16:17] #111 closed

[2020-07-15 16:17] #164 closed

[2020-07-15 16:17] #176 closed

[2020-07-15 16:17] #181 closed

[2020-07-15 16:17] #183 closed

[2020-07-15 16:17] #205 closed

[2020-07-15 16:17] #199 closed

[2020-07-25 15:19] guest271314 opened #218 "[Feature Request] Merge with webm-writer-js to support audio and video recording to WebM"
Consider a Project to merge opus-recorder with https://github.com/thenickdude/webm-writer-js to support audio and video recording to WebM container.

- https://github.com/thenickdude/webm-writer-js/issues/1
- https://github.com/kbumsik/opus-media-recorder/issues/23

[2020-07-25 15:22] chris-rudmin commented on #218
It’s not in my power to merge this code into other peoples repositories. Opus-media-recorder already records opus.

[2020-07-25 15:22] #218 closed

[2020-07-25 15:24] guest271314 commented on #218
Am not requesting to brute-force merge in the sense of a `git` merge. Am requesting that a Project be started to merge the respective portions of code in order to write the Opus encoded by this repository into the WebM container that webm-writer.js produces for video. Does that make sense?

[2020-07-25 15:31] guest271314 commented on #218
Just asking before write the entire code from scratch. Since the two existing projects already have working code, the only part that really needs to be done is writing the output from this repository to the WebM container the webm-writer.js produces, resulting in a media recorder written primarily in JavaScript.

[2020-07-25 15:37] chris-rudmin commented on #218
@guest271314 I am not interested in investing time into such a project, but feel free to reach out to me if you have questions while merging the two code bases.

[2020-07-25 15:55] guest271314 commented on #218
That is why reached out to you here, now.

Just asking maintainers of existing repositories, e.g., https://github.com/GoogleChromeLabs/webm-wasm in an attempt to write as little code as possible to achieve the goal.

By Project mean https://github.com/chris-rudmin/opus-recorder/projects, where the resepective interested parties (front-end developers at large) can contribute at will.

There is more

[2020-07-25 16:01] chris-rudmin commented on #218
You are likely better to start with opus-media-recorder instead of this library as it is already built to record to a webm container using webassembly (compiled from native sources instead of written in javascript).

[2020-07-25 16:06] guest271314 commented on #218
Already filed an issue at that repository, listed above. No movement thus far. Here, have had success achieving requirements using Native Messaging and Native File System (e.g., https://github.com/guest271314/native-messaging-mkvmerge, https://github.com/guest271314/captureSystemAudio) for the ability to use native applications (downloaded and compiled if not installed) then get the result back in

[2020-07-25 16:13] guest271314 commented on #218
Able to pipe output from `espeak-ng` to `opusenc` at https://github.com/guest271314/native-messaging-espeak-ng and get the result at any web page. Ideally the goal is to write the entire application in JavaScript, as some might not be comfortable using Native Messaging and native applications in the manner that use them in the above repositories. However, if that is not possible, will use what has

[2020-08-14 16:49] jaxtheking opened #219 "Is it possible to add an 'abort/cancel' method and an 'onAbort/onCancel' listener?"
Thanks for providing us with this awesome library, and good job on the recent updates.
I was wondering if you'd be open to add a new method and listener as per the title - similarly to what the HTML5 SpeechRecognition API does? It basically would mimic the stop method, expect for starting the encoder - maybe tidying other loose ends.

A simple use case: I have a voice recorder which auto-stops if

[2020-08-14 17:10] chris-rudmin commented on #219
I don't quite understand the use case.  Can't you use `stop()` and discard the data?

[2020-08-14 17:39] jaxtheking commented on #219
Sure, I could do that... however data is processed in the onDataAvailable listener which is not aware of my intentions to cancel the recording/discard the data. Of course, I can add a flag to tell the listener whether the data needs to be discarded or passed on.

I understand that in my case this may seem trivial (as I only process a 3s audio), but if the use case was different (users wanting to c

[2020-08-14 18:05] chris-rudmin commented on #219
The encoder is running in real time. An abort method would not be able to
save any resources

On Fri, Aug 14, 2020 at 1:39 PM Gianluca Pinoci <notifications@github.com>
wrote:

[2020-08-14 18:25] jaxtheking commented on #219
Sorry then, I definitely missed that fact.
Thanks anyway for indulging me!

[2020-08-14 18:25] #219 closed

[2020-08-28 18:03] numerized opened #220 "Need help on Making syncable recordings with this recorder"
Hello here, I want to check with you how to solve a very annoying problem I am facing.

I am trying to record 30min of voice on my Android app and I get a 29min57s recording, I don't understand why, it's very important because I have to sync and mix few locally recorded files together and produce a conversation out of many local microphones.

Why do you think there's a time drift ? Am I losing fra

[2020-08-28 18:57] chris-rudmin commented on #220
A few possible reasons.

Do you start your timer when the start() promise resolves?

You might also be losing 80ms at the beginning which is used for decoder
sync. Also possible to lose 20ms at the end. I think the last buffer if not
full we discard it.

If you use encoder in streaming mode, every page (800 ms) you can receive
the granule position which you can use to determine the recording lengt

[2020-08-28 19:30] numerized commented on #220
why start() has to be initiated by a click? other recording libs ask for a stream or a audio node on a click first and then we can start programatically the start when we want, do you have a workaround for this ?

[2020-08-28 19:32] numerized commented on #220
I am asking because I am getting

```DOMException: The user aborted a request.```

[2020-08-28 19:34] chris-rudmin commented on #220
User needs to grant permissions for the mic

On Fri, Aug 28, 2020 at 3:32 PM Kévin Perrée <notifications@github.com>
wrote:

[2020-08-28 19:39] numerized commented on #220
but, I do this.

[2020-08-28 20:06] chris-rudmin commented on #220
Check that the encoderPath is valid.

On Fri, Aug 28, 2020 at 3:39 PM Kévin Perrée <notifications@github.com>
wrote:

[2020-08-28 20:14] numerized commented on #220
I've passed my webrtc source node to the recorder I am able to record now with WebRTC live.
Thanks it works, I'm now checking if I can get rid of this time drift.
I'll update you

[2020-08-28 20:16] numerized commented on #220
Could it be my Android that is somehow CPU saturated and loses frames or something like this?
What parameters would make this process less time drift prone in your options list?

[2020-08-28 20:21] chris-rudmin commented on #220
If you hear glitching in the audio, It probably means you are dropping
frames. You can try and play with resampler quality options and encoder
options for lower latency. The encoder loop needs to complete within 3ms or
you will start losing frames.  On a pc this loop usually completes In under
1 ms.
On Fri, Aug 28, 2020 at 4:16 PM Kévin Perrée <notifications@github.com>
wrote:

[2020-08-28 20:30] chris-rudmin commented on #220
If you record a performance profile while recording, you can validate that
hypothesis.

On Fri, Aug 28, 2020 at 4:20 PM Chris Rudmin <chris.rudmin@gmail.com> wrote:

[2020-08-28 20:35] numerized commented on #220
Cool! Finally a clear reply from a lib maker! Thanks I tried absolutely all libraries!
My app does many things at the same time while recording, I'll try this profiler soon

[2020-08-28 20:38] chris-rudmin commented on #220
If that seems to be the case, you can try reducing the frame size from 20ms
to 10ms which may or may not help.

On Fri, Aug 28, 2020 at 4:35 PM Kévin Perrée <notifications@github.com>
wrote:

[2020-08-28 20:48] numerized commented on #220
I'm recording a performance profile right now.
Then I'll try that frame size change

[2020-08-28 21:14] numerized commented on #220
![image](https://user-images.githubusercontent.com/166829/91615577-31e0ea80-e984-11ea-81ce-398a4db87469.png)

Seems like I have fps drops. Could it be responsible for recording frame losses ?

[2020-08-28 22:22] chris-rudmin commented on #220
Listen to the recording where you have FPS drops. If you hear glitching
then you are dropping audio frames.

On Fri, Aug 28, 2020 at 5:15 PM Kévin Perrée <notifications@github.com>
wrote:

[2020-08-28 22:36] numerized commented on #220
yes I can hear that yes.

[2020-08-28 22:36] numerized commented on #220
I tried with :

[code]

[2020-08-28 22:37] numerized commented on #220
I have 10s missing for a 20min recording usually

[2020-08-28 22:38] numerized commented on #220
I've only let the most important features of my app, and I have same frame drops

[2020-08-28 22:38] numerized commented on #220
can I play with other parameters ?

[2020-08-29 00:37] chris-rudmin commented on #220
You might try `encoderApplication: 2051` for restricted low delay. I'm not sure if it will help in your scenario.

[2020-08-29 08:27] numerized commented on #220
I'm now playing with the `encodedSamplePosition` option and I comparing it to the actual time, I can see the drift building up in a non-linear way on Android 10 galaxy s9 and not on Huawei android 8.

I've set all encoder options to minimal latency.

What else can I try ?

buffers?

[2020-08-29 12:33] chris-rudmin commented on #220
Two options:
- You could try and disable AudioWorklets and use the older ScriptProcessor implementation which uses much much larger buffers (higher latency)
- We can try and optimize any problematic code.  In your performance profile, does it align with garbage collection?  We might be able to find where memory is being allocated and garbage collected, and then re-use memory to avoid the garbage c

[2020-08-29 12:54] chris-rudmin commented on #220
Another option:  If your users will be using chrome 84 or newer, we can try a build with SIMD optimizations enabled (currently they are disabled). Theoretically, it should run faster in chrome.

[2020-08-29 19:21] numerized commented on #220
Thanks man!

It's so important to me and my team it's the main festure of our business model and I'll be to send you a donation for your help on this.

I've already disabled all parallel tasks to let only webrtc and recorder working, I'm now going to try your 6.2.0 version and report here.

Thanks for your help. I've opened your code and I liked it a lot.

[2020-08-29 20:04] numerized commented on #220
ok so 6.2.0 is not helping, I have 2s time drop in a 2min recording. I can see the time shift with `encodedSamplePosition`

I'm interested about this SIMD optimisation, can I do it myself ?

[2020-08-29 20:08] numerized commented on #220
Just for information, the following repo is the only JS recorder I could find (I tried them all really crazy...) producing accurate time recordings but is producing glitchy recordings on Android AND on desktop, my next step will be to try to fix this repo to remove audio glitches

https://github.com/higuma/web-audio-recorder-js

[2020-08-30 12:40] chris-rudmin commented on #220
@numberized You can build the sources yourself and enable SIMD. The flag goes into the makefile step with emconfigure.  For libspeex, add `--enable-sse` flag.  For libopus replace `--disable-intrinsics` with `--enable-intrinsics`

[2020-09-01 09:30] numerized commented on #220
hello Chris,

So I'm trying to build myself from sources, so far I cannot bypass this problem:

[code]

[2020-09-01 14:02] chris-rudmin commented on #220
Looks like emscripten config error.  Did you add the emscripten env
variables to your PATH? `source ./emsdk_env.sh`. check you have all the
dependencies installed for emscripten `./emcc -v`

On Tue, 1 Sep 2020 at 05:31, Kévin Perrée <notifications@github.com> wrote:

[2020-09-02 11:32] numerized commented on #220
yeah sorry to remove my comments I was able to go forward,
now I have another issue, I'll have a look into it soon.

I have to update you, on the sync issue, I have been able to reduce it drastically with increased buffer and lower complexity.
It works much better and super consistently.

Thanks for your help, I'll be trying the SIMD optimizations soon.

Are you looking for a job ? even part time

[2020-09-02 14:06] chris-rudmin commented on #220
@numerized I updated my github profile with my contact info.

[2020-09-02 20:06] chris-rudmin commented on #220
I am accepting contract work at the moment. Contact me for more details.

[2020-09-28 17:34] chris-rudmin commented on #220
@numerized Any success?  I'll close this issue out. Feel free to reopen it if you need some more support.

[2020-09-28 17:34] #220 closed

[2020-09-29 20:43] numerized commented on #220
yes all works well thanks, just played with few parameters, I'll post here the config to achieve proper recording on lower end devices.

[2020-11-05 10:51] MrdUkk opened #222 "global is undefined on mobile devices browsers"
i have verified this on two phones (android 8 and android 9) and one tablet (android 9).

first line in recorder.js need single line
var global = global || window;
right before
var AudioContext = global.AudioContext || global.webkitAudioContext;
and all is working cross-platform.

[2020-11-05 10:54] MrdUkk commented on #204
is this not possible to call already via exposed setOpusControl() function ?

[2020-11-05 14:42] chris-rudmin commented on #222
Are you using the minified sources? `global` is an object created when compiling to UMD using webpack.  Can you please specify the browser and version as well as the specific error and line number?

[2020-11-06 07:35] MrdUkk commented on #222
i'm using npm package (yes, it's minified) in VUE 2.x project hosted on nginx web-server. but talking about source files
so without 'var global = global || window;' before var AudioContext. it is working only in PC windows browsers but not in mobile.
your function Recorder.isRecordingSupported() returning FALSE.

mobile and tablet browsers is google chrome last versions (up to date from google pla

[2020-11-06 13:05] chris-rudmin commented on #222
Unfortunately I don't have an android device to test with. Can you verify if the example page works on your android device?
https://raw.githack.com/chris-rudmin/opus-recorder/master/example/encoder.html

[2020-11-06 21:10] MrdUkk commented on #222
in pure html its okay anyway. the problem arrive after using npm component

[2020-11-06 21:16] chris-rudmin commented on #222
if you are doing `import Recorder from 'opus-recorder'` it should be importing `dist/recorder.min.js` so the behaviour should be the same as the example page. I suspect the error might be coming from your implementation, if somehow you are importing `src/recorder.js`.

[2020-11-09 14:02] MrdUkk commented on #222
may be. im not JS expert. but by proposed solution is fix-for-all probably use-cases. Does it break something?

im use npm package like mention before in Vue 2.x project. in specific component (not in app.vue!).
and it's throwing exception without my addition.

component.vue
<template>
...
</template>
<script>
import Recorder from 'opus-recorder'
export default {
    name: 'test',
    data() {

[2020-11-09 14:11] chris-rudmin commented on #222
The use of option `rawPacket` In your example implies to me that you are not using my library as it has been distributed. Please reopen the issue when you can provide a reduced test  case which reproduces the error

[2020-11-09 14:11] #222 closed

[2020-12-05 22:11] lordadamson opened #223 "Audio crackling/stuttering when opus encoded"
Hi,

I have no experience with audio whatsoever but I've used this awesome library for my website.

All the recordings I'm receiving are awesome, except for one person, her recordings are crackling and a little sped-up.

luckily I was able to get in touch with the person. I asked her if she had an issue on any other app. I asked her to record on another website to see if the same issue occurs, but

[2020-12-05 22:12] lordadamson commented on #223
Update: The issue only happens on Samsung internet browser. When she tried chrome it worked fine. 🤔

[2020-12-06 02:46] chris-rudmin commented on #223
Sounds like the opus recorder is dropping frames due to the Samsung Internet browser performance. The encoder is required to finish its encoder loop within 4ms. If it exceeds 4ms then the encoder will start dropping frames. Best you can do is to try and optimize your settings to reduce the load requirements on your clients.

ie. Reduce from stereo to mono, reduce the resample quality etc.

Hope th

[2020-12-06 10:01] lordadamson commented on #223
Hey, thanks for the response!

I understand that requirement in real-time applications. But the application isn't really real-time, I can wait a little for the encoding if the device is not performant. Can this become an option or something? Is this something under our control or is it a Libopus thing?

[2020-12-06 10:22] lordadamson commented on #223
I'm willing to make a PR if the answers to these questions say that it's possible and you're willing to accept it :smile:

[2020-12-06 15:00] chris-rudmin commented on #223
@lordadamson Try using version v6.2.0.  This used a message passing mechanism which would buffer all the frames. Version v7 and up was changed to use AudioWorklet nodes

[2020-12-06 18:05] lordadamson commented on #223
Ok, thanks :D

[2020-12-06 18:05] #223 closed

[2020-12-08 21:26] el07694 opened #224 "Decode audio stream (real time)"
I am trying to run the following code (i want to conver ogg vordis data (opus) to pcm:

[code]

I have two warning (the same as in example):

[code]

The decoding in the example is ok.

What i am missing?

Thanks in advance,
Chris Pappas

[2020-12-09 01:09] chris-rudmin commented on #224
It means the WASM file is served with the incorrect mine type. The correct mime-type is `application/wasm`.  Everything should continue to work even if you received this warning.

[2020-12-09 10:36] el07694 commented on #224
Run the example to see.

decoderWorker.onmessage function never runs (anything in console, just the warnings).

After some seconds i saw this in the console:

`Uncaught RangeError: WebAssembly.Memory(): could not allocate memory`

[2020-12-09 15:44] chris-rudmin commented on #224
It looks like you are creating a new instance of the decoder WebWorker for every `ondataavailable` event. Try fixing that and see if it resolves your issues.

[2020-12-13 21:23] samanmohamadi opened #226 "Record for exact amount of time"
Hi, Is there any way to change the recorder to record for a fixed duration time?
I want to set the duration before recording and get the exact duration in output.
currently, I have to trim output audio some times after recording.

[2020-12-14 01:55] chris-rudmin commented on #226
There is not currently a method to do this. One workaround is to stream the encoded pages and watch the recorded length via the value of `granulePosition`.  The recording length granularity is limited to page size (by default 480ms). There is also a sync time at the beginning of the encoded audio where you will not get any playback. By default this is 80ms .

[2020-12-14 01:58] chris-rudmin commented on #226
Here was a previous discussion about this topic: https://github.com/chris-rudmin/opus-recorder/issues/220

[2020-12-15 07:58] #226 closed

[2021-01-07 22:39] chris-rudmin commented on #224
Closing due to inactivity.

[2021-01-07 22:39] #224 closed

[2021-02-10 13:36] pitonoved opened #230 "DOMException: The user aborted a request"
First of all, thanks for the plugin! I have a problem. In my Vue.js app when I call `const rec = new Recorder({ encoderPath })` - I get error `Uncaught (in promise) DOMException: The user aborted a request` in Chrome. There is no recording device selection. What could it be for?

[2021-02-10 14:08] chris-rudmin commented on #230
@pitonoved That error is thrown when the user has disallowed microphone permissions. It might also occur if there is no microphone input on the device.

[2021-02-10 14:17] pitonoved commented on #230
I don't understand why, because it doesn't even ask permission. At the same time, if I manually `navigator.mediaDevices.getUserMedia` then the browser asks for the microphone as expected.

[2021-02-10 14:30] pitonoved commented on #230
This may be due to that `encoderWorker.min.js` is not loading correctly?

[2021-02-10 15:18] chris-rudmin commented on #230
@pitonoved If you can provide me a reduced test case which reproduces the error, I can take a look.

[2021-02-10 15:22] chris-rudmin commented on #230
@pitonoved Yes, if the path to the worker is incorrect, it will throw this error as well.

[2021-02-10 17:52] pitonoved commented on #230
Thanks for answers. Worker could be uploaded, but now there is a new problem: `Uncaught RangeError: WebAssembly.Compile is disallowed on the main thread, if the buffer size is larger than 4KB. Use WebAssembly.compile, or compile on a worker thread.`

I'm definitely doing something wrong(

[2021-02-11 10:58] pitonoved commented on #230
I solved the problem. Thank you and sorry for your time!

[2021-02-11 10:58] #230 closed

[2021-02-11 11:36] pitonoved commented on #230
The only request is that need to handle cases when the plugin does not see the `encoderWorker.min.js`. Now it just continues to execute the script further. I simply didn't incorrectly connect config....

[2021-03-03 14:52] SuddenlyHazel opened #231 ""Dropping a Needle in the Track" [Question]"
Hey all - Let me preface this by saving my technical understanding of this might be way off, apologies in advance if so.

At a very high level I'm trying to work out how to stream ogg / opus audio to a server, cache a rolling "window" of opus pages, and enable "clients" to drop in at any time to listen. This basically exactly mirrors the layout of something like internet radio.

I'm streaming the

[2021-03-03 17:58] SuddenlyHazel commented on #231
After some more reading, I think I have a plan now:

Use the decoder in:
https://www.npmjs.com/package/libopus.js/v/0.0.1

to go from the ogg/opus pages to PCM.

Then it might just be a dance around passing that data into a..
https://developer.mozilla.org/en-US/docs/Web/API/BaseAudioContext/createBuffer

and connect it all up to a `AudioBufferSourceNode`.

[2021-03-03 18:28] chris-rudmin commented on #231
@SuddenlyHazel Checkout [MDN](https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/Live_streaming_web_audio_and_video#server-side_streaming_technologies) for some suggestions on server technologies for live streams.

[2021-03-03 18:30] SuddenlyHazel commented on #231
@chris-rudmin - Should have added I can't use a traditional server. To keep it short I can only poll my datastore using get-requests.

[2021-03-03 19:06] chris-rudmin commented on #231
@SuddenlyHazel You might run into audio glitching if you are switching your buffers in and out (see here: https://github.com/WebAudio/web-audio-api/issues/1825). I would probably try and setup an audio worklet node (or createScriptProcessor for legacy API) to serve the buffered audio. Good luck!

[2021-03-03 19:17] chris-rudmin commented on #231
@SuddenlyHazel [StackOverflow reference](https://stackoverflow.com/questions/57583266/audioworklet-set-output-to-float32array-to-stream-live-audio)

[2021-03-03 19:39] SuddenlyHazel commented on #231
This is exactly the direction I needed. Thank you so much!!!

[2021-03-05 15:05] SuddenlyHazel commented on #231
Howdy again!

I ended up not using ogg / opus for the time being. However, I did get the streaming audio working. Albeit, in a kinda nasty way. Oh well. Leaving a link to my repo in the event others stumble upon this one day. I plan on integrating eventually.

https://github.com/SuddenlyHazel/dfinity-streams

Closing this one out. Thanks again!

[2021-03-05 15:05] #231 closed

[2021-03-19 15:11] WindowsNT opened #233 "Streaming"
It seems it can do it, I can't find an exposed function though. Instead of saving internally and/or to file the encoded data, I want to upload it to a server, possibly with $.ajax or similar JS.

If you don't already have such a function I 'll dig into the code and implement one.

[2021-03-19 15:37] chris-rudmin commented on #233
Please read the [documentation](https://github.com/chris-rudmin/opus-recorder/blob/master/README.md) for supported functionality.

[2021-03-19 15:37] #233 closed

[2021-03-20 21:53] WindowsNT opened #234 "Is it possible to stream raw opus data?"
Wrapping in ogg pages creates latency when all I want is to send the packets back to my server. Currently I have to read the stream as ogg, where I could just uncompress the opus frame.

Could there be an option to return the raw opus data instead of an ogg page?

[2021-03-21 13:19] chris-rudmin commented on #234
@WindowsNT This is not a supported feature.  Look in the pull requests for some implementations that might suit your needs.

[2021-03-21 13:19] #234 closed

[2021-05-27 11:12] unimatrix099 commented on #193
if the API is set to AudioEncoding.OGG and you send OGG data you will not get anything, by mistake I found that if you set to AudioEncoding.MP3 and send OGG audio data it will work... :)

[2021-06-01 08:42] xtrmbob opened #240 "DOMException: The user aborted a request"
Hello,

I want to implement the opus-recorder package in my project but when i create a new instance i got this error

![image](https://user-images.githubusercontent.com/66731424/120293775-def6e380-c2c5-11eb-8221-51d7fb039f72.png)

`this.recorder = new Recorder({
                encoderPath: '../controllers/waveWorker.min.js',
                wavBitDepth: 16,
                numberOfChannels: 1,

[2021-06-01 11:44] chris-rudmin commented on #240
`recorder.start()` returns a promise which you can add error handling. `user aborted a request` usually means the user has refused to grant permissions to the site to access the microphone.

[2021-06-05 08:56] rotem925 opened #241 "ScriptProcessorNode is deprecated"
Hi,
I'm getting warnings from latest Chrome on macOS that ScriptProcessorNode is now deprecated, and we should use AudioWorkletNode.
Any idea when ScriptProcessorNode will be removed? Are there any plans to support AudioWorklet?
![Screen Shot 2021-06-05 at 11 54 56](https://user-images.githubusercontent.com/248898/120886135-154d9f00-c5f5-11eb-812c-db4d3447f3c3.png)

[2021-06-05 12:05] chris-rudmin commented on #241
@rotem925 Can you please confirm which version of opus-recorder you are using and which version of chrome shows you the error?

[2021-06-05 13:03] chris-rudmin commented on #241
@rotem925 AudioWorklets are already supported. ScriptProcessorNode is only used as a fallback.

[2021-06-05 14:24] rotem925 commented on #241
Sorry @chris-rudmin ,im using an older version. Just saw the fallback in the code.
Thanks for the quick response. I'm closing the issue

[2021-06-05 14:24] #241 closed

[2021-06-06 08:49] rotem925 opened #243 "Cant compile speex when running on macOS m1 chip"
Hi,
I'm trying to compile from the local sources. I'm using the new mac with the m1 chip
It seems like there is missing compatibility with speex and neon.
I get this error: resample_neon.h:134:12: error: unknown register name 'q0' in asm

After seeing this reference: https://speex-dev.xiph.narkive.com/nTffejbI/fwd-cannot-compile-speexdsp-1-2rc3-on-arm64
Adding the --disable-neon flag when configur

[2021-06-06 10:57] chris-rudmin commented on #243
@rotem925 Yes the `--disable-neon` flag is required to build. #242 will fix it.

[2021-06-06 10:58] rotem925 commented on #243
Superb! Thanks!

[2021-07-27 16:05] chris-rudmin commented on #243
fixed by #242

[2021-07-27 16:05] #243 closed

[2021-08-03 02:32] C4rb0ngit opened #244 "streamPage with wav"
is there any way to get a live wav stream (e.g. using streamPage)?
thanks,
Phil

[2021-08-03 03:24] chris-rudmin commented on #244
@C4rb0ngit Unfortunately no. Wav format requires the header to specify the length of the audio, so it therefore cannot be streamed.

[2021-08-03 03:24] #244 closed

[2021-08-04 13:19] C4rb0ngit commented on #240
My site is allowed to access the microphone and I get the same error...
It is weird because if I host it through live server on vs code, everything works fine but when I host is with flask, I get the same error when trying to call recorder.start.
Do you have any idea what yourld cause this?

[2021-08-04 13:28] C4rb0ngit commented on #230
How did you solve it?

[2021-08-04 13:31] C4rb0ngit commented on #244
Okay, thanks a lot!

[2021-08-04 13:34] pitonoved commented on #230
The problem was in my config. I connected it incorrectly.

[2021-08-04 13:59] C4rb0ngit commented on #230
What did you change?

[2021-08-04 14:10] pitonoved commented on #230
I don't remember anymore, but the final .ts file looks something like this

[code]

[2021-08-04 14:38] chris-rudmin commented on #240
@C4rb0ngit It could also be incorrect path to the hosted worker.

[2021-08-04 15:24] C4rb0ngit commented on #240
sorry to ask probably stupid questions but what is the hosted worker?

[2021-08-04 15:35] chris-rudmin commented on #240
You need to host the encoderWorker.min.js on your web server.  Example If
you are using webpack:
https://github.com/chris-rudmin/opus-recorder#getting-started-with-webpack

On Wed, Aug 4, 2021 at 11:24 AM C4rb0ngit ***@***.***> wrote:

[2021-08-04 19:19] C4rb0ngit commented on #240
sorry but do you know how to do it in flask because I am very new to web dev and have no idea what to do / can't find anything online

[2021-08-04 19:24] chris-rudmin commented on #240
@C4rb0ngit I do not know.

[2021-08-06 09:48] C4rb0ngit commented on #240
Okay, thanks anyways. So basically I need to host my flask application on a server like ngix or apache and that's is?

[2021-08-08 20:05] C4rb0ngit opened #245 "waveWorker.min.js Uncaught TypeError: Cannot read property 'length' of undefined"
When running the opus-recorder to record wav files I works but after some time I randomly get the following error:

[code]
(:formatted because of chrome pretty-print)

[2021-08-15 16:26] Lurito opened #247 "Is it possible to configure the sample rate of wav?"

[2021-08-15 21:12] chris-rudmin commented on #247
@Lurito  No it is not possible. Please see the [supported config options for wave](https://github.com/chris-rudmin/opus-recorder/blob/master/README.md#config-options-for-wav-recorder) in the readme.

[2021-08-15 21:12] #247 closed

[2021-08-16 17:08] chris-rudmin commented on #245
@C4rb0ngit Can you please specify your browser and version, your OS and version, recording config options, and if possible a reduced test case to reproduce the issue.

[2021-08-16 17:10] chris-rudmin commented on #245
@C4rb0ngit Also can you please clarify more precisely what you mean by "some time": a few seconds, a few minutes, after some hours?, after multiple recordings, or just one recording?

[2021-09-14 13:55] chris-rudmin commented on #245
Closing due to inactivity.

[2021-09-14 13:55] #245 closed

[2021-10-14 07:12] zzph commented on #240
Ditto, I'm having the exact same issue here.

Is this correct?

My webpack config (nextjs):
[code]

[2021-10-25 12:54] ken-hudd opened #250 "Choppy audio on iphone"
Recording on android or a computer is fine, on an iPhone/iPad, sometimes the recording is robotic and choppy. iPhone 15.0.x and iPad 14.6, 14.8 and 14.7.1. I've tried increasing the buffers to 8192 and 16384, encoderApplication: 2048, 2049 and 2051. I've tested with version 8.04 and 8.05 as well as going back to 6.0.2 with the node processor. Below is a sample recording so you can hear the choppin

[2021-11-17 05:02] leochoo opened #251 "How to use with Vite?"
I ran into the same issue shown here.

https://githubmemory.com/repo/chris-rudmin/opus-recorder/issues/230

`Uncaught RangeError: WebAssembly.Compile is disallowed on the main thread, if the buffer size is larger than 4KB. Use WebAssembly.compile, or compile on a worker thread.`

It seems that I need to somehow load the file like how `Getting started with webpack` suggests in README, except I need

[2021-11-22 11:42] vsokolovskiy opened #252 "The first recording is not saved in Safari on IOS 15.1"
Steps to Reproduce:

1. Start recording.
2. When the popup shows up, requesting permissions, grant them.
3. After the red microphone icon appears on the tab, record some speech
4. Stop the recording.

The issue seems to be that `recorder.ondataavailable` is not firing on first recording.

After this initial recording, the subsequent recording works fine.

Let me know if you need any additional inf

[2021-11-22 13:51] vsokolovskiy commented on #250
Sorry for necroposting, but I also struggle with that issue. Any update?

My config is as follows:
`recorder = new Recorder({
      encoderPath,
      numberOfChannels: 1,
      bitDepth: 16,
      recordingGain: 1,
      monitorGain: 0,
    });`

[2021-11-22 17:16] #251 closed

[2021-11-22 18:31] vsokolovskiy opened #253 "Robotic, chunky audio on IOS 15.1"
When I record audio from the IPad running IOS 15.1 I am getting robotic, laggy audio, that is impossible to use. I am using the wav worker. Tried increasing bufferLength, did not help. Sometimes, the audio works fine, but other times we get the lag.

Here is the Recorder config I am using:

`
recorder = new Recorder({
      encoderPath,
      numberOfChannels: 1,
      wavBitDepth: 16,
      recor

[2021-11-22 18:32] #252 closed

[2021-11-22 18:44] chris-rudmin commented on #253
Thanks for the report. I have encountered this issue, but I will not have time to debug and make a fix anytime in the near future. If you have some patience, I will look into it when I can.

[2021-11-22 19:36] vsokolovskiy commented on #253
Sorry, I need to deploy this feature ASAP. Do you think shuffling around settings might help, ot should I move over to another library? Thank you.

[2021-11-22 19:38] chris-rudmin commented on #253
I suspect it is due to some changes Apple made for iOS 15 or iOS 15.1 so I don't think changing any settings will fix it.

[2021-12-24 16:13] himankpathak opened #254 "Issue while using decoder with React application"
### Description
Hey,
I am trying to build a Audio Recorder in React. The recorder is working fine and able to create opus ogg blob.
But getting error when decoding recorded opus blob to wav to play in audio component.

Getting following warnings and error:
[code]

### Source Code

I am loading all worker files with webpack 'file-loader'

Here is the complete source code for the component: https://

[2021-12-25 08:24] Rillke commented on #254
Instead of feeding the web assembly, you are presamably feeding an HTML Document `<!DO` (= `3c 21 44 4f `) to your deocder.

Did you check your web server logs? Is `decoderWorker.min.wasm` in place and can be XHR-loaded? What happens if you manually request the `decoderWorker.min.wasm` binary (by Opening the according URL in a new tab)?

[2021-12-26 08:35] himankpathak commented on #254
Thanks @Rillke for the tip.

Webpack was not showing it in the sources along with other .min.js files. So, I had to add a import for the wasm file in the component

[code]

Also had to add this in webpack 4 config rules to properly load .wasm file, following direction from the comment https://github.com/zikaari/onigasm/issues/2#issuecomment-388527729
[code]

I can see the wasm file now in sources

[2021-12-28 12:40] himankpathak commented on #254
Hey @chris-rudmin ,
It would be very helpful if you could please share a working example of using decoder and wasm with webpack project.

[2021-12-28 14:33] chris-rudmin commented on #254
@himankpathak Please read the [Readme](https://github.com/chris-rudmin/opus-recorder#getting-started-with-webpack)

[2021-12-28 14:33] #254 closed

[2021-12-28 18:09] himankpathak commented on #254
Hey @chris-rudmin,
I went through the readme it only mentions how to get the encoder working. That's working fine in the app.
I am getting error when passing the encoded typedArray to decoder, not able to get the web assembly working.

Here is the complete source code:
https://gist.github.com/himankpathak/eae910705bc1006a23eb17c7255d793f

[2021-12-28 22:34] Rillke commented on #254
@ himankpathak wonder if https://github.com/chris-rudmin/opus-recorder/issues/164#issuecomment-449377495 helps. I have no clue about React and how your App would copy and serve the required `decoderWorker.min.wasm`. The encoder binary is embedded in the encoder ([compiled with `SINGLE_FILE=1`](https://github.com/chris-rudmin/opus-recorder/blob/master/Makefile#L61)), that's probably why the encoder

[2021-12-28 22:58] chris-rudmin commented on #254
@himankpathak Using webpack `file-loader` for loading wasm files should be the same for the encoder as well as the decoder.  Please look in the examples folder for a sample implementation of how to use the decoder. It is currently not well documented.

[2021-12-30 12:56] himankpathak commented on #254
Thanks @Rillke @chris-rudmin .

I got it working. After seeing the CopyPlugin implementation I figured it out.
The culprit was the static file name searching used in decoderWorker.js to find decoderWorker.wasm
And webpack's `file-loader` changes the name of the file after processing.
We can import js files and pass the realtive path for them directly so they weren't causing any issue.

Added follo

[2021-12-30 15:20] chris-rudmin commented on #254
@himankpathak encoderWorker is single file because it is loaded in an AudioWorket Node context which does not support async fetching of wasm. Ideally the worker should be loaded seperately from the AudioWorklet, but this would require some additional config.

I'm totally open to suggestions if you can propose a sane way to distribute wasm packages via npm.

[2021-12-31 08:15] nichealpham opened #255 "Recorder output file size too small - Vue.js"
I tried the Encoder example provided and got a very small Uint8Array as a result. This is weird since I use this function side by side with a MediaRecorder that returns audio data with no problem.

Working with Vue.js in this project. But it shouldn't be the problem. Here is the code:

[code]
My vue config for webpack
[code]

No error was returned. It asks for microphone permission, recorded the r

[2021-12-31 15:33] chris-rudmin commented on #255
@nichealpham for implementation specific questions, please post your question on stack-overflow.  Please only post bug reports here.

[2021-12-31 15:33] #255 closed

[2021-12-31 16:50] nichealpham commented on #255
Nevermind. Wasted 5 hours with this and no prevail, looked up at all the previous issues and various stack overflow already but seem not enough. I ended up using opus-media-recorder repo and it works perfectly at first attempt. Would recommend anyone who read this thread the same.

[2022-01-01 15:04] himankpathak commented on #254
@chris-rudmin, I don't have a lot of knowledge on emscripten or Workers. I browsed through some projects to understand how its usually used.
We can override the default `Module['locateFile']` method with a custom implementation. [ref](https://emscripten.org/docs/api_reference/module.html#Module.locateFile)

This is a [gist](https://gist.github.com/surma/b2705b6cca29357ebea1c9e6e15684cc#file-index-

[2022-01-01 15:07] chris-rudmin commented on #254
@himankpathak Cool. I would totally welcome a PR to have cleaner wasm distribution..

[2022-01-12 00:53] MartinBarker opened #256 "building and running on windows 10"
Hello, I am trying to run this repo to view some examples of recording wav files locally.
I have clones and been running the commands in windows linux subsystem terminal. But the `npm run make` command is failing once it gets to emconfigure:
[code]

I was wondering if anyone has had luck with building and running this repo on windows 10 linux subsystem?
Thanks, M

[2022-01-12 00:57] chris-rudmin commented on #256
@MartinBarker I've always had difficulty running autotools on Windows (i'm running mac and ubuntu usually).  If you manage to get it working, post the steps here, and i'm sure it will be helpful to someone else.

[2022-01-12 01:02] chris-rudmin commented on #256
If you can't get it working on native windows, you should be able to run the build inside a container.

[2022-01-12 01:25] MartinBarker commented on #256
Thanks for the advice, it does work and complete `npm run make` on my ubuntu computer.
Different question, but I was wondering if you knew how I could record audio using the example/waveRecorder.html file in this repo? I tried just opening the html file it in chrome but it gives an err when trying to start recording:
![image](https://user-images.githubusercontent.com/27025504/149047377-eadc6eca-1b

[2022-01-12 02:22] MartinBarker commented on #256
ill post it in a new issue

[2022-01-12 02:22] #256 closed

[2022-01-12 02:29] MartinBarker opened #257 "Error running waveRecorder.html example"
I was wondering how I could record audio using the example: `example/waveRecorder.html` file included in this repo.
I have cloned this repo, ran npm i, and npm run make with no errors.
I tried just opening the html file it in chrome but it gives an err when trying to start recording:
![image](https://user-images.githubusercontent.com/27025504/149053087-26c3a5ec-033e-40d4-84bd-ef7db862917c.png)

is

[2022-01-12 12:54] chris-rudmin commented on #257
Recording only works on pages served over https. You can use [ngrok](https://ngrok.com/download) to proxy https to your local machine.

[2022-01-12 12:56] chris-rudmin commented on #257
I don't have a npm command for starting a local server, but you can use `python -m http.server` (python 3)

[2022-01-12 15:57] #257 closed

[2022-02-06 05:41] MartinBarker opened #258 "using waveform-playlist with opus-recorder"
Hello, I am working on a high quality fork of opus-recorder for trying to achieve lossless wav quality through a web interface:
https://github.com/MartinBarker/opus-recorder-min
Opus-recorder is by far the highest quality web audio I've been able to produce yet, but I want to connect the opus-recorder to work with the robust waveform-playlist JavaScript package:
https://github.com/naomiaro/wavefor

[2022-02-06 13:24] chris-rudmin commented on #258
@MartinBarker I don't see any reason it would not work.  Good luck!

[2022-02-06 13:24] #258 closed

[2022-02-07 05:53] ebrahimiaval commented on #240
In Next JS the encoder file inject in to the _next directory and `encoderPath` is like `/_next/8bd8ff56898e42df5cb3621787b4e6d1.js` and in next js we can not access to the root of _next directory.

how set the worker to change this path to `static` directory in _next directory?

when i set in in to the /_next/static/.... or /public/ and set the encoderPath its ok but when i push it to the server n

[2022-03-11 03:36] DamianoP opened #260 "Uncaught TypeError: Cannot read properties of undefined (reading 'length')"
The error is show in console when I upload an ogg file in the example/decoder.html page.

Complete error:
[code]

[2022-03-22 13:21] rashidpathiyil opened #261 "Not working with Vite + Vue 3"
Is it work with Vite + Vue 3 ?

I am getting this error
[code]

[2022-03-22 13:27] rashidpathiyil commented on #255
are you using with Vite + Vue 3?

[2022-03-30 05:22] nichealpham commented on #255
I used Vue 2 (Vuetify framework)

[2022-04-11 08:08] uellenberg commented on #240
I'm not sure if this is still relevant, but the solution to this is by using webpack asset modules instead of file-loader:
[code]

[2022-04-19 16:11] iqra32 opened #263 "wasm streaming compile failed: TypeError: Could not download wasm module falling back to ArrayBuffer instantiation how can i resolve this issue ?"

[2022-04-19 16:33] chris-rudmin commented on #263
@iqra32 Please validate your WASM module path is correct. In the future, for implementation specific issues, please post in SO. If there is a bug please provide a reduced test case for me to reproduce the issue.

[2022-04-19 16:33] #263 closed

[2022-05-06 20:53] karlmacklin commented on #251
@leochoo Did you ever solve this? I'm in the same situation.

[2022-05-07 00:36] leochoo commented on #251
Never did mate. I just used the native MediaRecorder API and other React libraries like react-media-recorder. If u want I can share what I've done.

[2022-05-09 08:59] karlmacklin commented on #251
Thanks, that's ok. I ended up doing basically the same thing, and a lot of stuff with AudioContext.

[2022-07-12 16:38] vodnicearv commented on #143
I also have a recording that cuts off in several places.

The problem is only in safari, chrome is fine

[2022-07-23 15:27] ara4n commented on #251
To make it work in vite you import the worker as:

`import encoderPath from 'opus-recorder/dist/encoderWorker.min.js?url'`

You don't need to make changes to vite.config.ts (unlike when using webpack).

[2022-07-23 15:28] ara4n commented on #230
I got it to work in vite with:

[code]

[2022-08-17 08:05] Micrufun opened #265 "Convert 16 bit signed int to 32 bit float"
At this line:

https://github.com/chris-rudmin/opus-recorder/blob/fdfdadeeb9bc9d045c59dc75ebefed390e4ad6dc/example/fileEncoder.html#L62

We are conversing an `Int 16` value to a `Float 32` value between `-1` and `+1`. It makes sense to divide the `Int 16` value over its max possible which is `2^16/2` i.e. `32768`.

# Question 1

But I don't understand the `+ 0.5` statement. Why are we adding that?

[2022-08-17 08:10] Micrufun commented on #265
Also, there is this approach which is a bit different: https://stackoverflow.com/a/35248852/3405291

[2022-08-17 11:35] Micrufun commented on #265
Test indicates that this code works too:

[code]
Not sure about the precision difference.

[2022-08-17 11:44] chris-rudmin commented on #265
@Micrufun Indeed there are many different ways to convert Int to float.  The additional 0.5 is to convert an asymmetric space (-32768, 32767) into a symmetric space(-1,1) by shifting the 0 crossing point

[2022-08-17 11:51] Micrufun commented on #265
If by any chance the example is going to be extended to include any *channel count* and *bit depth*, this is a tested modification which might help:

[code]

Then, calling it by:

[code]

Or:

[code]

[2022-08-17 11:51] #265 closed

[2022-08-17 14:06] chris-rudmin commented on #265
@Micrufun By shifting the 0 crossing point, we distribute the conversion precision across the whole range [-1.1].  In the other implementation you shared, the negative values and positive values are treated separately. the 0 crossing point is maintained, but the negative values will have slightly more precision than the positive values.  Likely the differences between the two conversions are inaud

[2022-08-17 21:00] Micrufun commented on #265
Right. Finally, I considered the desirable symmetry:

[code]

[2022-08-17 22:24] chris-rudmin commented on #265
@Micrufun Watch out for 8 bit wavs which use unsigned Integers

[2022-08-17 22:26] chris-rudmin commented on #265
I referenced [dsprelated.com](https://www.dsprelated.com/forums) forums frequently when I was in search of different algorithms / tradeoffs.

[2022-11-14 20:05] Dylan-Buth opened #267 "Audio distorted after 30 seconds"
We've been using this package for a while and just recently ran into an issue where after 30 seconds, the audio is distorted. The first 30 seconds sound perfectly fine. Is this something you've heard of before? Or have any advice on debugging it?

[2022-11-14 20:28] chris-rudmin commented on #267
I have not encountered this.  For debugging, I would recommend to see if you can narrow it down to a specific platform / browser. If it occurs consistently, I would add some breakpoints and check your audio data, see if the browser is sending noisy audio data.

[2022-11-14 20:30] chris-rudmin commented on #267
Enable monitoring (with headphones on). If your monitoring contains distorted audio, then it is the browser sending distorted audio.  If the monitoring signal is clean, but the encoded data is noisy, then it would suggest a bug in opus-recorder.

[2022-11-22 15:41] rotem925 commented on #267
This is a bug in the recent release of Chrome and does not happen on Canary, see https://bugs.chromium.org/p/chromium/issues/detail?id=1381319&q=30%20seconds&can=2
I guess that's the issue... it's not happening only with opus-recorder.

[2022-11-22 15:49] z-briand commented on #267
We're seeing this issue as well; it's been a low-level issue for a while, but coincidentally I searched to see if anyone else was seeing this last week, and hit Dylan's ticket.

I had told my team we should file a ticket, and they said they already had -- Dylan's bug is actually this guy:
https://github.com/chris-rudmin/opus-recorder/issues/176
So the interesting thing there is that this issue has

[2022-11-23 15:54] z-briand commented on #267
OK, all of our testers who replicated this were on Chrome.  Many of our Chrome users couldn't replicate the bug, so it's probably actually Chrome + RAM shortage, or something similar?  None of our non-Chrome users could replicate.

All of that is consistent with Rotem's pointing the finger at Chrome, and the timing of Dylan's report suggests he's hitting the Chrome bug, not verifying that #176 is

[2022-11-23 16:48] Dylan-Buth commented on #267
For the record, what I'm experiencing just seems to be the chrome bug. Works on safari just fine, and I have plenty of RAM so I don't think it's related to that. For me anyway.

I appreciate you all responding here. I would've spent hours debugging this before finding the open Chrome issue.